.container-aboutMe-all {
  position: relative;
  background: #242424;
  z-index: 20;
  width: 100%;
  padding: 91px 0 91px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container-title-aboutMe {
    width: 191px;
    height: 76px;
    // background-color: rgb(255, 255, 255);
    margin-bottom: 84px;

    .title-aboutMe {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      text-align: center;

      color: #ffffff;

      margin-bottom: 13px;
    }

    .title-description-aboutMe {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #e0dfdf;
    }
  }

  .content-element-aboutMe {
    width: 90%;
    max-width: 1468px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;

    .content-perfil-resume {
      width: 621px;
      height: 271.8px;
      //   background-color: rgb(83, 104, 136);
      margin-right: 50px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .content-img-perfil {
        position: relative;
        width: 293.87px;
        height: 271.8px;

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .polygon-perfil {
          position: relative;
          transition: all 0.5s;
        }

        .photo-perfil {
          position: absolute;
          border-radius: 100%;
          width: 75%;
          // display: none;
        }
      }

      .content-resume-perfil {
        width: 274px;
        height: 221px;
        // background-color: rgb(206, 67, 67);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
          font-family: Proxima Nova;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;

          color: #ffffff;
        }

        .content-resume {
          position: relative;
          width: 274px;
          height: 170px;

          display: flex;
          justify-content: center;
          align-items: center;

          .cornerUp {
            position: absolute;
            top: 0;
            left: 0;
          }

          .resumen {
            width: 90%;

            font-family: Proxima nova;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 22px;
            color: #dbdbdb;
          }

          .cornerDown {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    .content-grid-photos {
      border-radius: 15px;
      // overflow: hidden;
      width: 592px;
      height: 250px;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-gap: 6px;

      background: url(https://i.ibb.co/Sc8GfHc/codding.jpg) fixed center no-repeat ;
      background-size: cover;
      overflow: hidden;
      
      .item-grid-aboutme {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.85);
      }

      .item-grid-aboutme1 {
        grid-column: span 2;
        grid-row: 1 / 8;
      }

      .item-grid-aboutme2 {
        grid-column: span 19;
        grid-row: 1 / 2;
      }

      .item-grid-aboutme3 {
        grid-column: span 10;
        grid-row: 2 / 5;
      }

      .item-grid-aboutme4 {
        grid-column: span 9;
        grid-row: 2 / 4;
      }

      .item-grid-aboutme5 {;

        grid-column: span 7;
        grid-row: 5 / 4;
      }

      .item-grid-aboutme6 {
        grid-column: span 18;
        grid-row: 5 / 7;
      }

      .item-grid-aboutme7 {

        grid-column: span 18;
        grid-row: 7 / 8;
      }

    }

    @media (max-width: 1288px) {
      & {
        width: initial;
        max-width: initial;
        flex-direction: column;

        .content-perfil-resume {
          margin-right: initial;
          margin-bottom: 50px;
        }

        .content-grid-photos {
          margin-top: 50px;
          width: 80%;
          height: 300px;
        }
      }
    }

    @media (max-width: 715px) {
      & {
        .content-perfil-resume {
          width: initial;
          height: initial;
          //   background-color: rgb(134, 4, 4);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .content-img-perfil {
            position: relative;
            width: 293.87px;
            height: 271.8px;
          }

          .content-resume-perfil {
            margin-top: 15px;
            width: initial;
            width: 85%;
            height: initial;

            // background-color: rgb(206, 67, 67);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .name {
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: 300;
              font-size: 20px;
              line-height: 30px;
              padding: 10px 0 10px 0;
            }

            .content-resume {
              position: relative;
              width: initial;
              width: 100%;
              height: initial;
              padding: 10px 0 10px 0;
              //   background-color: #fff;

              display: flex;
              justify-content: center;
              align-items: center;

              .cornerUp {
                position: absolute;
                top: 0;
                left: 0;
              }

              .resumen {
                //   background-color: rgb(44, 21, 88);
                width: 90%;

                font-family: Proxima nova;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 22px;
                text-align: center;
              }

              .cornerDown {
                position: absolute;
                bottom: 0;
                right: 0;
              }
            }
          }
        }

        .content-grid-photos {}
      }
    }
  }

  .content-element-do {
    width: 100%;
    max-width: 495px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .content-title-do {
      margin-left: 25px;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      text-align: center;

      color: #ffffff;
      margin-bottom: 64px;
    }

    .content-items-do {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // background-color: rgb(63, 20, 20);
      .item-do {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon-do {
          margin-bottom: 18px;
          transition: all 0.3s;
          transform: scale(1.1);

          &:hover {
            transition: all 0.3s;
            transform: scale(1.3);
          }
        }

        .name-do {
          font-family: Proxima Nova;
          font-style: normal;
          font-weight: 300;
          font-size: 11px;
          line-height: 13px;
          text-align: center;

          color: #dfdfdf;
        }
      }
    }

    @media (max-width: 510px) {
      .content-title-do {
        margin-left: 8px;

        margin-bottom: 64px;
      }

      .content-items-do {
        width: initial;
        flex-direction: column;
        justify-content: initial;

        // background-color: rgb(63, 20, 20);
        .item-do {
          margin-bottom: 40px;

          .icon-do {}

          .name-do {}
        }
      }
    }
  }
}