.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../media/images/cover.jpg) no-repeat bottom fixed;
    background-size: cover;
    z-index: -1;
  }
  