.container-footer-all {
  z-index: 10;
  width: 100%;
  padding: 50px 0 50px 0;
  background: linear-gradient(180deg, #242424 0%, rgba(32, 32, 32, 0.25) 100%), url(../../media/images/footer.jpg) fixed center no-repeat;
  background-size: cover;
  filter: saturate(150%);

  display: flex;
  flex-direction: column;
  align-items: center;

  .content-contact {
    position: relative;
    width: 80%;
    max-width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 150px;

    .cornerUp-contact {
      position: absolute;
      top: 0;
      left: 0;
    }

    .title-contact {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      text-align: left;
      width: 100%;
      margin-bottom: 23px;
    }

    .container-social-networks {
      //   background-color: rgb(143, 18, 18);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 23px;
    }

    .container-email {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: -0.02em;

      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // user-select: auto;
    }

    #emailID {
      user-select: initial;
      -moz-user-select: initial;
      -webkit-user-select: initial;

      &::selection {
        background-color: rgb(250, 114, 51);
      }
    }

    .cornerDown-contact {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .content-phrase-end {
    width: 80%;
    max-width: 489px;

    font-family: Proxima Nova;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;

    color: #ffffff;

    margin-top: 152px;
  }

  .content-copyright {
    width: 90%;
    max-width: 167px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #ffffff;
    margin-top: 55px;
  }
}

.link-social {
  .fill-social {
    fill: rgb(255, 255, 255);
    transition: all 0.2s;
  }

  &:hover {
    .fill-social {
      transition: all 0.2s;
      fill: rgb(250, 114, 51);
    }
  }
}