@import "components/header";
@import "components/cover";
@import "components/background";
@import "components/mixin";
@import "components/projects";
@import "components/aboutMe";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-all{
    position: absolute;
    top: 100%;
    width: 100%;
}