@import "components/header";
@import "components/cover";
@import "components/background";
@import "components/mixin";
@import "components/projects";
@import "components/aboutMe";
@import "components/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  
}

html{
    // background-color: rgb(31, 29, 29);
}

.container-all{
    position: absolute;
    top: 100%;
    width: 100%;
}